In [1]:
# for data
import pandas as pd
import numpy as np

# for plotting
import matplotlib.pyplot as plt
import seaborn as sns

# for statistical tests
import scipy
import statsmodels.formula.api as smf
import statsmodels.api as sm

# for machine learning
from sklearn import model_selection, preprocessing, feature_selection
import xgboost
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import MinMaxScaler

In [2]:
# label: 
dtf = pd.read_csv('train.csv', header = None)
dtf = dtf.set_index(dtf.columns[0])
# dtf = dtf.set_index("user_id")
dtf.head()

,1,2,3,4,5,6,7,8,9,10,...,952,953,954,955,956,957,958,959,960,961
0,,,,,,,,,,,,,,,,,,,,,
1,-1.8226,8.51070,-0.53551,-2.03440,2.2282,2.04870,-5.81380,-4.4169,2.3129,0.808290,...,-5.74060,12.5650,41.23100,-6.77570,1.72780,15.9120,23.583000,3.9158,35.7250,1
2,1.2816,-0.49410,-0.19667,1.05510,-1.9280,1.07120,-0.19667,-4.6669,3.8230,-3.245900,...,-20.50300,47.7540,2.88560,-6.86660,6.29350,-4.8789,-1.300100,-1.4275,-3.4192,1
3,-2.0304,-0.27552,-0.58236,-5.95250,7.3550,2.16640,-4.71510,17.1580,15.5120,-0.822280,...,-10.71800,-4.5436,1.38680,-5.32100,-6.08350,-1.3021,-10.569000,-4.2189,-1.6538,1
4,-1.0026,0.41320,0.62058,-0.34226,-0.2027,-0.92619,0.61123,-2.0824,-3.5442,-0.043659,...,-2.90100,4.5538,-0.77261,4.25520,0.27911,4.7744,-5.695200,-18.7410,58.3810,1
5,1.2754,25.84200,5.80000,2.89000,3.1957,4.45040,5.99760,-6.4947,2.9189,3.202700,...,-0.97276,3.8810,7.13330,0.70157,-1.69570,1.2263,-0.093752,-1.7140,2.5131,1

In [3]:
dtf = dtf.sample(frac = 1)
X_train = dtf.iloc[:,:-1]
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)

# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# # Fit on training set only.
# scaler.fit(X_train)
# # Apply transform to both the training set and the test set.
# X_train = scaler.transform(X_train)
# from sklearn.decomposition import PCA
# # Make an instance of the Model
# pca = PCA(.95)
# pca.fit(X_train)
# X_train = pca.transform(X_train)


y_train = dtf.iloc[:,-1:].values.ravel()
print("X_train shape:", X_train.shape, "| y_train shape:", y_train.shape)

X_train shape: (9388, 172) | y_train shape: (9388,)

In [4]:
X_test = pd.read_csv('test.csv', header = None,index_col=0)
X_test.head()

,1,2,3,4,5,6,7,8,9,10,...,951,952,953,954,955,956,957,958,959,960
0,,,,,,,,,,,,,,,,,,,,,
1,0.93652,-0.32644,2.02410,-1.996400,-2.600600,2.30860,-8.25920,-9.209900,2.88510,0.34574,...,15.2500,-0.13846,-3.11080,2.0895,2.5293,5.84900,-4.9897,4.75810,5.1081,-2.9497
2,1.93410,-2.58880,-5.27190,10.809000,-5.624800,-15.28800,18.15000,-8.198600,-25.02300,21.76300,...,-112.6000,215.56000,-169.93000,-97.7360,123.8600,-47.75700,8.5216,133.73000,-21.5210,-2.8799
3,0.15171,-0.32254,0.54372,-0.001275,-0.036333,0.01976,-0.15681,0.040158,-0.38437,0.48062,...,9.5563,2.49110,-0.79551,6.1167,1.9027,-5.27980,3.5594,0.87136,-5.3856,3.5791
4,-3.99490,-7.74780,15.75800,-5.631000,-11.692000,4.41430,-10.73100,-16.211000,0.74900,-16.25500,...,109.6000,62.72700,153.11000,-128.9800,-93.6470,224.45000,-141.1200,-135.44000,220.6000,-131.4100
5,-10.13300,-31.76300,32.31000,-12.476000,-3.226600,19.49200,-8.83500,3.977800,14.96800,-1.39250,...,1.0905,16.74200,10.98200,18.1190,-1.6926,-0.31062,2.4190,1.15070,-2.8109,9.8108

In [5]:
# CV model
model = xgboost.XGBClassifier()
model.fit(X_train, y_train)

X_test_scaled = scaler.transform(X_test)
# X_test = scaler.transform(X_test)
# X_test = pca.transform(X_test)
y_predict = model.predict(X_test_scaled)
print(y_predict)

/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[23:06:33] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[ 1 11  9 ...  6 10  1]

In [6]:
Id = [i for i in range (0, 2959)]
predict = pd.DataFrame(Id, columns = ['Id'])
predict['Category'] = y_predict
print(predict)
predict.to_csv('output.csv', index=False)

        Id  Category
0        0         1
1        1        11
2        2         9
3        3        14
4        4         3
...    ...       ...
2954  2954         7
2955  2955         6
2956  2956         6
2957  2957        10
2958  2958         1

[2959 rows x 2 columns]